<h1>Welcome <%= $game.player1.name %> and <%= $game.player2.name %> to Battle!</h1>
<h1><%= $game.player2.name %> score is <%= $game.player2.score %> </h1>
<form action = "/attack">
  <a href = "/attack" <name= "Attack"><h1>Attack Player 2</h1></button></a>
</form>