<h1>Enter Player Names To Begin Battle</h1>

<form action ="/names" method ="post">
  <input type='text' name='player1'>
  <input type ='text' name='player2'>
  <button value = "Submit" type ="submit">Enter The Names</button>
</form>
